# App
PROJECT_NAME=FASTAPI BASE
DEBUG=True
BASE_HOST=0.0.0.0
BASE_PORT=8000
SECRET_KEY=
STATIC_URL=static
API_PREFIX=
LOGGING_CONFIG_FILE=logs/logging.ini
LOGGING_APP_FILE=logs/app.log
SUPERUSER_NAME=admin
SUPERUSER_PASSWORD=admin123

# Streaming
STREAM_DELAY=0.1
RETRY_TIMEOUT=15000

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
DATABASE_URL=

# Worker
WORKER_NAME=aicelery
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=
RABBITMQ_VHOST=
QUEUE_TIMEOUT=600 #  Task failed when PENDING
QUEUE_TIME_LIMIT=300 #  Task failed when PROCESSING

# S3
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_ACL=public-read

# Dockerhub
DOCKER_HUB_URL=

# LLM
LLM_URL=https://nginx/llm
# Embedd Model
EM_URL=https://nginx/em
# Vector Database
VDB_URL=https://nginx/vdb

# OpenAI
OPENAI_API_KEY=

# Google Search
GOOGLE_API_KEY=
GOOGLE_CSE_ID=