# App
PROJECT_NAME=FASTAPI BASE
DEBUG=True
BASE_HOST=0.0.0.0
BASE_PORT=8000
SECRET_KEY=
STATIC_URL=static
API_PREFIX=
LOGGING_CONFIG_FILE=logs/logging.ini
SUPERUSER_NAME=admin
SUPERUSER_PASSWORD=admin123

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
DATABASE_URL=

# S3
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_ACL=public-read

# Dockerhub
DOCKER_HUB_URL=
